In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%ls

drive/  sample_data/

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/7313Project/test.csv")
train = pd.read_csv("/content/drive/MyDrive/7313Project/train.csv")
testn = pd.read_csv("/content/drive/MyDrive/7313Project/test.csv")

In [ ]:
test.head()

,id,home_team_name,away_team_name,match_date,league_name,league_id,is_cup,home_team_coach_id,away_team_coach_id,home_team_history_match_date_1,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
0,17761448,team home,team away,2021-05-01 00:15:00,Division 1,755,False,9605704.0,30866250.0,2021-04-28 00:30:00,...,755.0,755.0,755.0,755.0,755.0,755.0,755.0,755.0,755.0,755.0
1,17695487,team home,team away,2021-05-01 00:30:00,Liga MX,743,False,10319425.0,460370.0,2021-04-24 02:06:00,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0
2,17715496,team home,team away,2021-05-01 01:00:00,Paulista A2,1314,False,440905.0,220998.0,2021-04-28 23:00:00,...,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1315.0,1315.0
3,17715493,team home,team away,2021-05-01 01:00:00,Paulista A2,1314,False,21036670.0,1553238.0,2021-04-29 01:00:00,...,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1746.0,1746.0
4,17715492,team home,team away,2021-05-01 01:00:00,Paulista A2,1314,False,3618158.0,37400444.0,2021-04-29 01:00:00,...,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0

In [ ]:
train.describe()

,id,league_id,home_team_coach_id,away_team_coach_id,home_team_history_is_play_home_1,home_team_history_is_play_home_2,home_team_history_is_play_home_3,home_team_history_is_play_home_4,home_team_history_is_play_home_5,home_team_history_is_play_home_6,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
count,1.109380e+05,110938.000000,8.921700e+04,8.912300e+04,109779.000000,108487.000000,107165.000000,105837.000000,104461.000000,103042.000000,...,109712.000000,108345.000000,106904.000000,105422.000000,103938.000000,102512.000000,101071.000000,99643.000000,98176.000000,96722.000000
mean,1.519875e+07,910.457012,1.287134e+07,1.291552e+07,0.306944,0.567801,0.466141,0.519469,0.487857,0.507288,...,901.986200,894.389137,886.368012,878.243611,869.450297,861.901455,853.435338,844.673223,837.678200,829.177374
std,2.536393e+06,549.120985,1.578479e+07,1.580344e+07,0.461228,0.495384,0.498855,0.499623,0.499855,0.499949,...,545.826707,542.247411,538.497274,534.864981,531.170701,527.338931,524.217968,520.954647,517.647869,514.900676
min,1.142829e+07,2.000000,2.000000e+00,2.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,1.200038e+07,444.000000,4.596120e+05,4.595650e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,438.000000,432.000000,426.000000,420.000000,417.000000,408.000000,399.000000,391.500000,387.000000,387.000000
50%,1.675988e+07,947.000000,1.552728e+06,1.552806e+06,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,944.000000,935.000000,906.500000,899.000000,884.000000,881.000000,860.000000,830.000000,821.000000,806.000000
75%,1.724230e+07,1293.000000,3.243116e+07,3.279539e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1286.000000,1283.000000,1279.000000,1274.000000,1270.000000,1267.000000,1265.000000,1263.000000,1261.000000,1255.000000
max,1.805384e+07,2039.000000,3.756849e+07,3.756847e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2028.000000,2025.000000

In [ ]:
train.head()

,id,target,home_team_name,away_team_name,match_date,league_name,league_id,is_cup,home_team_coach_id,away_team_coach_id,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
0,11906497,away,Newell's Old Boys,River Plate,2019-12-01 00:45:00,Superliga,636,False,468196.0,468200.0,...,1122.0,642.0,636.0,636.0,636.0,1122.0,636.0,642.0,636.0,1122.0
1,11984383,home,Real EstelÃ­,Deportivo Las Sabanas,2019-12-01 01:00:00,Primera Division,752,False,516788.0,22169161.0,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0
2,11983301,draw,UPNFM,MarathÃ³n,2019-12-01 01:00:00,Liga Nacional,734,False,2510608.0,456313.0,...,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0
3,11983471,away,LeÃ³n,Morelia,2019-12-01 01:00:00,Liga MX,743,False,1552508.0,465797.0,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,746.0,743.0
4,11883005,home,CobÃ¡n Imperial,Iztapa,2019-12-01 01:00:00,Liga Nacional,705,False,429958.0,426870.0,...,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0

In [ ]:
train.drop(train.iloc[:, [0,2,3,4,5]], axis=1, inplace=True)

In [ ]:
train.head()

,target,league_id,is_cup,home_team_coach_id,away_team_coach_id,home_team_history_match_date_1,home_team_history_match_date_2,home_team_history_match_date_3,home_team_history_match_date_4,home_team_history_match_date_5,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
0,away,636,False,468196.0,468200.0,2019-11-26 00:10:00,2019-11-10 18:30:00,2019-11-03 18:30:00,2019-10-29 22:10:00,2019-10-19 20:45:00,...,1122.0,642.0,636.0,636.0,636.0,1122.0,636.0,642.0,636.0,1122.0
1,home,752,False,516788.0,22169161.0,2019-11-27 21:00:00,2019-11-24 01:00:00,2019-11-10 01:00:00,2019-11-02 21:30:00,2019-10-27 01:00:00,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0
2,draw,734,False,2510608.0,456313.0,2019-11-28 01:15:00,2019-11-21 01:30:00,2019-11-03 21:30:00,2019-10-27 01:00:00,2019-10-20 22:00:00,...,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0
3,away,743,False,1552508.0,465797.0,2019-11-28 01:00:00,2019-11-23 03:10:00,2019-11-10 03:00:00,2019-11-04 02:00:00,2019-11-01 03:00:00,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,746.0,743.0
4,home,705,False,429958.0,426870.0,2019-11-27 18:00:00,2019-11-24 01:00:00,2019-11-10 02:00:00,2019-11-03 01:00:00,2019-10-27 20:30:00,...,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0

In [ ]:
test.drop(test.iloc[:,0:5], axis=1, inplace=True)

In [ ]:
test.head()

,league_id,is_cup,home_team_coach_id,away_team_coach_id,home_team_history_match_date_1,home_team_history_match_date_2,home_team_history_match_date_3,home_team_history_match_date_4,home_team_history_match_date_5,home_team_history_match_date_6,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
0,755,False,9605704.0,30866250.0,2021-04-28 00:30:00,2021-04-23 23:00:00,2021-04-21 00:30:00,2021-04-17 00:15:00,2021-04-11 00:30:00,2021-04-06 22:15:00,...,755.0,755.0,755.0,755.0,755.0,755.0,755.0,755.0,755.0,755.0
1,743,False,10319425.0,460370.0,2021-04-24 02:06:00,2021-04-17 00:30:00,2021-04-10 00:30:00,2021-04-04 01:00:00,2021-03-20 01:00:00,2021-03-16 03:00:00,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0
2,1314,False,440905.0,220998.0,2021-04-28 23:00:00,2021-04-24 23:00:00,2021-04-22 23:00:00,2021-04-21 01:00:00,2021-03-14 18:00:00,2021-03-10 18:00:00,...,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1315.0,1315.0
3,1314,False,21036670.0,1553238.0,2021-04-29 01:00:00,2021-04-24 23:00:00,2021-04-23 01:00:00,2021-04-21 01:00:00,2021-03-13 19:00:00,2021-03-10 19:00:00,...,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1746.0,1746.0
4,1314,False,3618158.0,37400444.0,2021-04-29 01:00:00,2021-04-24 23:00:00,2021-04-22 23:00:00,2021-04-20 23:00:00,2021-03-13 18:00:00,2021-03-10 22:00:00,...,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0,1314.0

In [ ]:
train.drop(train.filter(regex='date').columns, axis=1, inplace = True)
test.drop(test.filter(regex='date').columns, axis=1, inplace = True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [ ]:
train['is_cup'] = labelencoder.fit_transform(train['is_cup'])
test['is_cup'] = labelencoder.fit_transform(test['is_cup'])
train['target'] = labelencoder.fit_transform(train['target'])

In [ ]:
train_y = train['target']
train_y.unique()

array([0, 2, 1])

In [ ]:
train_x = train.iloc[:, 1:]
train_x.head()

,league_id,is_cup,home_team_coach_id,away_team_coach_id,home_team_history_is_play_home_1,home_team_history_is_play_home_2,home_team_history_is_play_home_3,home_team_history_is_play_home_4,home_team_history_is_play_home_5,home_team_history_is_play_home_6,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
0,636,0,468196.0,468200.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1122.0,642.0,636.0,636.0,636.0,1122.0,636.0,642.0,636.0,1122.0
1,752,0,516788.0,22169161.0,1.0,0.0,1.0,0.0,1.0,1.0,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0
2,734,0,2510608.0,456313.0,0.0,1.0,0.0,1.0,0.0,1.0,...,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0
3,743,0,1552508.0,465797.0,0.0,0.0,1.0,1.0,0.0,1.0,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,746.0,743.0
4,705,0,429958.0,426870.0,0.0,1.0,0.0,1.0,0.0,1.0,...,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0

In [ ]:
train_x.fillna(train_x.mean(), inplace=True)
test.fillna(test.mean(), inplace=True)

In [ ]:
train_x.describe()

,league_id,is_cup,home_team_coach_id,away_team_coach_id,home_team_history_is_play_home_1,home_team_history_is_play_home_2,home_team_history_is_play_home_3,home_team_history_is_play_home_4,home_team_history_is_play_home_5,home_team_history_is_play_home_6,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
count,110938.000000,110938.000000,1.109380e+05,1.109380e+05,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,...,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000,110938.000000
mean,910.457012,0.081875,1.287134e+07,1.291552e+07,0.306944,0.567801,0.466141,0.519469,0.487857,0.507288,...,901.986200,894.389137,886.368012,878.243611,869.450297,861.901455,853.435338,844.673223,837.678200,829.177374
std,549.120985,0.274208,1.415539e+07,1.416466e+07,0.458812,0.489881,0.490298,0.488001,0.485044,0.481829,...,542.802276,535.872797,528.615931,521.398193,514.139524,506.917006,500.362584,493.722507,486.963799,480.779168
min,2.000000,0.000000,2.000000e+00,2.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,444.000000,0.000000,4.683040e+05,4.683350e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,444.000000,444.000000,444.000000,447.000000,447.000000,453.000000,453.000000,453.000000,453.000000,453.000000
50%,947.000000,0.000000,1.031492e+07,1.063064e+07,0.000000,1.000000,0.000000,0.519469,0.487857,0.507288,...,923.000000,894.389137,886.368012,878.243611,869.450297,861.901455,853.435338,844.673223,837.678200,829.177374
75%,1293.000000,0.000000,2.252853e+07,2.253618e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1283.000000,1278.000000,1271.000000,1267.000000,1263.000000,1258.000000,1253.000000,1239.000000,1228.000000,1216.000000
max,2039.000000,2.000000,3.756849e+07,3.756847e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2028.000000,2025.000000

In [ ]:
from sklearn.preprocessing import StandardScaler
#fit scaler on training data
norm = StandardScaler().fit(train_x)
#transform training data
xtrain_norm = norm.transform(train_x)
#transform testing data
test_norm = norm.transform(test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    xtrain_norm, train_y, test_size=0.3, random_state=1, stratify=train_y)

tree = DecisionTreeClassifier(criterion='gini', 
                              max_depth=6, 
                              random_state=1)
tree.fit(X_train, y_train)

y_pred = tree.predict(X_test)
acc = np.mean(y_pred == y_test)*100
acc

46.818099873805664

In [ ]:
from pandas.core.common import random_state
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import BaggingClassifier
import warnings
warnings.filterwarnings('ignore')

model = DecisionTreeClassifier(criterion='gini', max_depth=2)
# LinearDiscriminantAnalysis(),

param_grid = [{'n_estimators': [50, 100, 300, 500]}]

gs = GridSearchCV(estimator=BaggingClassifier(base_estimator= model, oob_score=True, bootstrap=True, bootstrap_features=False, random_state=1),
                param_grid=param_grid,
                refit=True,
                cv=3,
                n_jobs=5)

gs.fit(xtrain_norm, train_y)
print('Best Accuracy: %.2f%%' % (gs.best_score_*100))
print('Best Params:', gs.best_params_)

gs.cv_results_

Best Accuracy: 45.67%
Best Params: {'n_estimators': 300}

{'mean_fit_time': array([ 243.75692503,  537.37895846, 1669.11760283, 1860.57908686]),
 'mean_score_time': array([ 9.71045772, 19.28781843, 64.41966724, 49.56037211]),
 'mean_test_score': array([0.45634498, 0.45639906, 0.45669653, 0.45646216]),
 'param_n_estimators': masked_array(data=[50, 100, 300, 500],
              mask=[False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_estimators': 50},
  {'n_estimators': 100},
  {'n_estimators': 300},
  {'n_estimators': 500}],
 'rank_test_score': array([4, 3, 1, 2], dtype=int32),
 'split0_test_score': array([0.45719308, 0.45697674, 0.45730124, 0.45686858]),
 'split1_test_score': array([0.45285162, 0.45371697, 0.45377106, 0.45374402]),
 'split2_test_score': array([0.45899024, 0.45850347, 0.45901728, 0.4587739 ]),
 'std_fit_time': array([  1.34875966,  35.65643098,  37.14236866, 438.61325245]),
 'std_score_time': array([ 0.28489372,  1.82942583, 15.39510593,  9.50385506]),
 'std_test_score': array([0.00257683, 0.00199632, 0.00218403, 0.00207345])}

In [ ]:
from pandas.core.common import random_state
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import BaggingClassifier
import warnings
warnings.filterwarnings('ignore')
model = DecisionTreeClassifier(criterion='gini', max_depth=1)
bc = BaggingClassifier(base_estimator=model,
                        n_estimators=100,
                        oob_score=True,
                        bootstrap=True,
                        bootstrap_features=False,
                        n_jobs=10,
                        random_state=1)
bc.fit(xtrain_norm, train_y)
y_pred = bc.predict(xtrain_norm)
train_acc = np.mean(y_pred == train_y)*100
train_acc

In [ ]:
from mlxtend.evaluate import confusion_matrix
confmat = confusion_matrix(train_y, y_pred)

print(confmat)

In [ ]:
prediction_1 = bc.predict_proba(test_norm)
prediction_1

In [ ]:
submission = pd.concat([pd.DataFrame(testn['id']), pd.DataFrame(prediction_1, columns=['home', 'draw', 'away'])[['home', 'draw', 'away']]], axis=1)
submission.to_csv('/content/drive/MyDrive/7313Project/submission_bagging.csv', index=False)